.warp {
    padding: 100px 0;
    background-image: url(../../dist/img/bg.png);
    background-color: rgb(144 127 113);
}

.warp .container {
    display: flex;
    align-items: center;
}

/*=======================================卷S===========================================*/

/*卷S度*/
.color_code-list::-webkit-scrollbar {
    padding-left: 5px;
    width: 10px;
}

/*卷S背景色*/
.color_code-list::-webkit-scrollbar-thumb {
    background-color: #ffffff4d;
    border-radius: 2px;
}

/*=======================================色列表===========================================*/
.color_code-list {
    width: calc(100% - 450px);
    height: calc(100vh - 200px);
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    overflow-y: auto;
    font-weight: bold;
}

/*色*/
.colors {
    width: 20%;
    margin-bottom: 20px;
}

.colors a {
    font-size: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000;
}

/*色票Y*/
.colors .info,
.colors .number,
.colors .name {
    width: 100%;
    padding-left: 5px;
    display: block;
}

.colors .name {
    font-size: 16px;
    color: #7C3636;
}

/*色票*/
.color_code {
    width: 90px;
    height: 40px;
}

/*========================================色Y==========================================*/
.color_info {
    width: 450px;
    padding: 20px;
    border-radius: 4px;
    margin-left: 15px;
    background: rgba(255, 255, 255,0.45);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

/*色名*/
.color-name .name {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 25px;
}

/*Y^*/
.cmyk,
.rgb,
.HEX,
.active {
    display: flex;
    margin-bottom: 25px;
}

.rgb .value,.HEX .value{
    min-width: 60px;
    border-bottom: 1px solid #ffffff;
    padding: 0 12px;
    margin-right: 15px;
    text-align: center;
    background-color: #00000033;
    border-radius: 4px;
    color: #ffffff;
}

.HEX>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.HEX span {
    width: 100%;
}

.HEX .value {
    margin-right: 20px;
    min-width: 100px;
}

.HEX button {
    width: 80px;
    height: 32px;
    padding: 0px 12px;
    background-color: #898989;
    border: 1px solid #949494;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
}

/*AhD*/
.chart {
    width: 50px;
    height: 50px;
    position: relative;
    line-height: 50px;
    text-align: center;
    margin: 0 10px;
}

/*AhD\*/
.chart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #E0E0E0;
    border-radius: 50%;
    z-index: 1;
}

/*AhD深*/
.chart::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #7F95E0;
    border-radius: 50%;
    clip: rect(0, auto, auto, 25px);
    z-index: 2;
}

/*AhDM度*/
.chart .chart-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #7F95E0;
    border-radius: 50%;
    clip: rect(0, auto, auto, 25px);
    z-index: 3;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

/*值*/
.value {
    height: 50px;
    line-height: 50px;
}

.active button{
	width: 120px;
	height: 40px;
	border-radius: 3px;
	border:1px solid #80766e;
	background-color:#80766e;
    color:#ffffff;
}

.other{
	font-size: 10px;
}

.other a{
    color: #e9ddb6;
}