.warp {
    padding: 100px 0;
    background-image: url(../../dist/img/bg.png);
    background-color: rgb(144 127 113);
}

.warp .container {
    display: flex;
    align-items: center;
}

/*=======================================卷S===========================================*/

/*卷S度*/
.color_code-list::-webkit-scrollbar {
    padding-left: 5px;
    width: 10px;
}

/*卷S背景色*/
.color_code-list::-webkit-scrollbar-thumb {
    background-color: #ffffff4d;
    border-radius: 2px;
}

/*=======================================色列表===========================================*/
.color_code-list {
    width: calc(100% - 450px);
    height: calc(100vh - 200px);
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    overflow-y: auto;
    font-weight: bold;
}

/*色*/
.colors {
    width: calc(100% / 5);
    margin-bottom: 20px;
}

.colors a {
    font-size: 10px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #ffffff;
}

/*色票Y*/
.colors .info,
.colors .number,
.colors .name {
    font-weight: 100;
    width: 100%;
    padding-right: 5px;
}

.colors .info{
    display: flex;
}

.colors .name {
    font-size: 16px;
    font-weight: bold;
    color: #7C3636;
    padding: 0px;
    justify-content: left;
    order: -1;
}

.colors .number {
    width: auto;
}

/*色票*/
.color_code {
    width: calc(100% - 10px);
    height: 25px;
}

/*========================================色Y==========================================*/
.color_info {
    width: 450px;
    padding: 20px;
    border-radius: 4px;
    margin-left: 15px;
    background: rgba(255, 255, 255,0.55);
}

/*色名*/
.color-name .name {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #3d4041;
}

/*Y^*/
.cmyk,
.rgb,
.HEX,
.active {
    display: flex;
    margin-bottom: 25px;
}

.rgb .value,.HEX .value{
    min-width: 60px;
    border-bottom: 1px solid #ffffff;
    padding: 0 12px;
    margin-right: 15px;
    text-align: center;
    background-color: #00000026;
    border-radius: 4px;
    color: #ffffff;
}

.HEX>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.HEX span {
    width: 100%;
}

.HEX .value {
    margin-right: 20px;
    min-width: 100px;
}

.HEX button {
    width: 80px;
    height: 32px;
    padding: 0px 12px;
    background-color: #00000066;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
}

/*AhD*/
.chart {
    width: 50px;
    height: 50px;
    position: relative;
    line-height: 50px;
    text-align: center;
    margin: 0 10px;
}

/*AhD\*/
.chart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #ffffff;
    border-radius: 50%;
    z-index: 1;
}

/*AhD深*/
.chart::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #7F95E0;
    border-radius: 50%;
    clip: rect(0, auto, auto, 25px);
    z-index: 2;
}

/*AhDM度*/
.chart .chart-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #7F95E0;
    border-radius: 50%;
    clip: rect(0, auto, auto, 25px);
    z-index: 3;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

/*值*/
.value {
    height: 50px;
    line-height: 50px;
}

.active button{
	width: 120px;
	height: 40px;
	border-radius: 3px;
	border:none;
	background-color:#00000066;
    color:#ffffff;
}

.other{
	font-size: 10px;
}

.other a{
    margin-left: 5px;
    color: #ffeba9;
    -webkit-filter:drop-shadow(0px 0px 1px #33333380);
}



/*===============================================Media===============================================*/


@media (max-width: 767px) {

    .warp {
        padding: 30px 0;
    }

    .warp .container {
        display: block;
        max-width: 100%;
        padding: 0px;
    }

/*=======================================色列表===========================================*/

    .color_code-list {
        width: 100%;
    }

    .colors {
        width: calc(100% / 4);
        margin-bottom: 20px;
    }

    .color_code {
        width: calc(100% - 12px);
    }

    .colors .info, .colors .number, .colors .name {
        padding-right: 6px;
    }



/*========================================色Y==========================================*/

    .color-name .name{
        font-size:24px;
        margin-bottom: 12px;
    }

    .color_info {
        position: fixed;
        width: 100%;
        bottom: 0;
        margin: 0;
        background-color: #d1cfcf;
        display: flex;
        flex-wrap: wrap;
        border-radius: 0px;
    }

    .rgb .value,.HEX .value{
        min-width: 50px;
        padding: 0 8px;
        margin-right: 12px;
    }

    .HEX .value {
        min-width: 100px;
    }

    .HEX button {
        height: 40px;
    }


    /*Y^*/
    .cmyk, .rgb, .HEX, .active{
        margin-bottom: 12px;
    }
    .cmyk {
        width: 100%;
    }
    .active {
        align-items: flex-end;
    }

    /*值*/
    .value {
        height: 40px;
        line-height: 40px;
    }

    .active button{
        background-color:#9E2B34;

    }


}

@media (max-width: 480px) {

    .colors {
        width: calc(100% / 3);
    }

    .active {
        width: 100%;
    }

    .active button{
        width: 100%;
    }
}

@media (max-width: 320px) {}

@media (min-width: 768px) and (max-width: 991px) {

    .warp .container {
        padding: 0px;
    }

/*=======================================色列表===========================================*/

    .color_code-list {
        width: calc(100% - 320px);
    }

    /*色*/
    .colors {
        width: calc(100% / 3);
        margin-bottom: 20px;
    }


/*========================================色Y==========================================*/

    .color_info {
        width: 320px;
    }


}

@media (min-width: 992px) and (max-width: 1199px) {

/*=======================================色列表===========================================*/

    .color_code-list {
        width: calc(100% - 350px);
    }

    /*色*/
    .colors {
        width: calc(100% / 4);
        margin-bottom: 20px;
    }


/*========================================色Y==========================================*/

    .color_info {
        width: 350px;
    }

}


@media (min-width: 1200px) {}

@media (min-width: 1400px) {}